* {
	color: white;
	font-family: Helvetica, Arial, sans-serif;
}
body {
	background-color: rgb(41, 42, 46);
	padding: 60px;
}
input {
	border-radius: 1.5rem;
	border-style: none;
	background-color: rgb(29, 29, 29);
	box-shadow: 0px 4px 5px #1d1f20;
	color: whitesmoke;
	font-size: 1.5rem;
	outline: none;
	padding: 0.5rem;
	text-indent: 20px;
	width: 100%;
}
h1 {
	font-size: 55px;
}
