* {
	color: white;
	font-family: Helvetica, Arial, sans-serif;
}
body {
	background-color: rgb(41, 42, 46);
	padding: 60px;
}
input {
	border-radius: 1.5rem;
	border-style: none;
	background-color: rgb(29, 29, 29);
	box-shadow: 0px 4px 5px #1d1f20;
	color: whitesmoke;
	font-size: 1.5rem;
	outline: none;
	padding: 0.5rem;
	text-indent: 20px;
	width: 100%;
}
h1 {
	font-size: 55px;
}
.card-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.card {
	align-content: center;
	border: 1.5px solid rgb(72, 73, 80);
	border-radius: 6px;
	margin-bottom: 10px;
	margin-right: 10px;
	overflow: hidden;
	/* width: 250px; */
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.383);
}
.card p {
	padding: 5px;
	text-align: center;
}
.card img {
	max-height: 200px;
}
